/* --- The Calligraphy --- */
.calligraphy {
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 3.5rem;
    color: #fbdc73;
    margin: 0 0 5px 0;
    line-height: 1.2;
    text-shadow: 0 0 20px rgba(251, 220, 115, 0.7);
    animation: textPulse 3s infinite alternate 4s;
}
